
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Reset the margin and padding for the body and html elements */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* You can add other global styles below */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: white;
}

/* Add more custom global styles as needed */
